/*
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: none;

} */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}



row {
    width: 100%;
}
.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-shrink: 1;

}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  